client/vendor/
client/node_modules/
client/npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
serices/public/storage
serices/public/hot
serices/storage/*.key
serices/.env.*.php
serices/.env.php
serices/.env
serices/Homestead.yaml
serices/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
